.Footer {
  background: #161616;
  padding-top: 100px;
  padding-bottom: 120px;
  font-family: "DINPro", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;

  &__form {
    margin-left: 23.61%;

    .form-input {
      padding-bottom: 15px;
      position: relative;
      cursor: pointer;
    }
  }
  h2 {
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 60px;
  }
  &--btn {
    background: #ffffff;
    width: 575px;
    margin-left: 90px;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    color: #f47821;
    letter-spacing: 0.04em;
    font-size: 14px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  }
}

.form--item {
  display: flex;
  flex-direction: column;
  width: 670px;
  padding-left: 90px;
  padding-top: 25px;
  position: relative;
  min-height: 120px;
  margin-bottom: 50px;
  &::before {
    content: "1";
    width: 64px;
    height: 64px;
    border: 1px solid darken(#ffffff, 23%);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #f47821;
  }
  &:nth-child(2)::before {
    content: "2";
  }
  &:nth-child(3)::before {
    content: "3";
  }
  &:nth-child(4) {
    margin-bottom: 60px;
    &::before {
      content: "4";
    }
  }
  input,
  textarea {
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid darken(#f7f8fa, 10%);
    color: #ffffff;
    resize: none;
    overflow: auto;
    box-shadow: none;
  }
  .form-input[placeholder] {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    line-height: 35px;
    letter-spacing: -0.01em;
    color: darken(#ffffff, 30%);
    .error {
      border: 3px solid red;
    }
  }
  label {
    margin-bottom: 25px;
  }
}
