@font-face {
  font-family: "DINPro";
  src: url("./fonts/DinPro/DINPro.eot");
  src: url("./fonts/DinPro/DINPro.eot?#iefix") format("embedded-opentype"),
    url("./fonts/DinPro/DINPro.woff") format("woff"),
    url("./fonts/DinPro/DINPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/RobotoRegular/RobotoRegular.eot");
  src: url("./fonts/RobotoRegular/RobotoRegular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("./fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy/Gilroy-Regular.eot");
  src: url("./fonts/Gilroy/Gilroy-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Gilroy/Gilroy-Regular.woff") format("woff"),
    url("./fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
